.btn {
  width: 176px;
  height: 37px;
  border: none;
  border-radius: 8px;
  font-weight: @weight-card-title;
  cursor: pointer;

  &.btn-primary {
    background-color: @color-secondary;

    &:hover {
      color: @color-primary;
      box-shadow: 2px 2px 2px 2px @color-primary-clicked;
    }

    &:active {
      background-color: @color-primary-clicked;
      color: @color-secondary;
    }
  }

  &.btn-submit {
    width: 100%;
    background-color: @color-primary;
    color: #ffffff;

    &:hover {
      color: @color-secondary;
      box-shadow: 1px 1px 1px 1px @color-secondary;
    }

    &:active {
      background-color: @color-secondary;
      color: @color-primary;
    }
  }

  &.rounded {
    border-radius: 16px;
  }

  &.btn-short {
    width: 160px;
    height: 50px;
  }
}

@media (max-width: @screen-xs) {
  .btn {
    width: 148px;
    height: 35px;
  }
}

.back-btn {
  cursor: pointer;
  display: inline-block;
  margin-right: 15px;

  svg {
    border-radius: 50%;
    background-color: @color-secondary;
    width: 35px;
    height: 35px;
  }

  &:hover {
    svg {
      path {
        stroke: @color-primary;
      }
    }
  }

  &:active {
    svg {
      background-color: @color-primary-clicked;
      path {
        stroke: @color-secondary;
      }
    }
  }
}
