.container {
  .navbar-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 4rem;
    padding-left: calc(100vw / 9);
    padding-right: calc(100vw / 9);

    .menu-item {
      font-family: @font-title;
      font-size: 32px;
      font-weight: @weight-subtitle;
      margin-left: 20px;
      color: @color-primary;

      &:link {
        text-decoration: none;
      }

      &:hover {
        text-decoration: underline;
      }

      &:active {
        color: @color-secondary;
      }

      &-mobile {
        font-family: @font-title;
        font-weight: @weight-title;
        font-size: @size-subtitle;
        color: @color-primary;

        &:link {
          text-decoration: none;
        }

        &:active {
          color: @color-secondary;
        }
      }
    }

    .nav-button {
      background-color: #ffffff;
      border: none;
      cursor: pointer;

      &-close {
        position: relative;
        top: 0.6rem;
        left: 90%;
        background-color: @color-bc-01;
        border: none;
      }
    }

    .logo {
      cursor: pointer;
    }

    .nav-component {
      position: fixed;
      top: 0;
      left: 0;
      width: 20rem;
      height: 50vh;
      background-color: @color-bc-01;
      z-index: 10;
      transition: transform 0.3s ease-in;

      ul {
        margin-top: 20px;
        list-style-type: none;
      }

      li {
        margin-bottom: 10px;
      }
    }
  }

  .hero {
    background-color: @color-primary;
    height: 25rem;
    padding-top: 40px;

    .hero-header {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      padding-left: calc(100vw / 9);
      padding-right: calc(100vw / 9);

      .title {
        color: @color-secondary;
        font-size: @size-title;
        font-family: @font-title;
        font-weight: @weight-title;
      }

      .subtitle {
        position: relative;
        color: @color-bc-01;
        font-size: @size-subtitle;
        font-family: @font-title;
        font-weight: @weight-subtitle;
        margin-top: -20px;
      }
    }

    .hero-content {
      display: flex;
      justify-content: space-between;
      padding-left: calc(100vw / 9);
      padding-right: calc(100vw / 9);

      .hero-info {
        flex-shrink: 5;
        font-size: @size-card-title;
        color: #ffffff;
        margin-right: 10px;

        p {
          max-width: 300px;
          margin-top: 40px;
        }
      }

      .hero-image {
        flex-shrink: 5;
        width: 360px;
        height: 400px;
      }
    }
  }
}

@media (max-width: @screen-sm) {
  .container {
    .navbar-menu {
      padding-left: 4%;
      padding-right: 4%;
    }
    .hero {
      .hero-header {
        padding-left: 4%;
        padding-right: 4%;
      }
      .hero-content {
        padding-left: 4%;
        padding-right: 4%;
      }
    }
  }
}

@media (max-width: @screen-xs) {
  .container {
    .hero {
      .hero-content {
        p {
          font-size: 16px;
        }

        .hero-image {
          width: 280px;
          height: 310px;
        }
      }
    }
  }
}

@media (max-width: @screen-xxs) {
  .container {
    .hero {
      .hero-content {
        .hero-image {
          width: 200px;
          height: 244px;
        }
      }
    }
  }
}
