.navbar-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 260px;
  padding-right: 260px;
  width: auto;
  height: 4rem;

  .menu-item {
    font-family: @font-title;
    font-size: 32px;
    font-weight: @weight-subtitle;
    margin-left: 20px;
    color: @color-primary;

    &:link {
      text-decoration: none;
    }

    &:active {
      color: @color-secondary;
    }
  }
}
